:root {
    --swiper-theme-color: #fda828;
}

html {
    scroll-behavior: smooth;
}

html,body {
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    /* padding:0;
    margin:0; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

p {
    font-size: 0.9em;
    color: #7d7d7d;
    line-height: 23px;
    max-width: 450px;
}

button {
    border: none;
    background: none;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

section,
footer {
    padding: 2em;
}

.navbar .container,
.features .section-title,
.features-grid,
.stats,
.blog-posts,
.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-indicator,
.scroll-indicator span,
.description,
.brands {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background: radial-gradient( #3b3e41, #1c2023);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.logo img {
    position: absolute;
    /* margin-top: -52px; */
    height: 190px;
    width: 130px;
    top: -46px;
   left:90%;
    /* margin-left: 90px; */
    /* margin-right: 20px; */
    /* /* max-width: 300px; */

}

.navmove
{
    position:relative;
    top:0px;
    left:0px;
}

.hbtu {
    height: 90px;
    width: 65px;
    left: -19px;
    top: -15px;
   position:relative;
   left:-30px;
     margin-right:10px;
    float:left; 
    /* max-width: 300px; */

}
.hbtu img{
    width: 55px;
    height: 70px;
    float: left;
}

.logo1 img {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    top: 17px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: auto;
    max-width: 300px;
    width: 30px;
}

/* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #0d0d0d;
    padding: 1.5em 2em;
    z-index: 9;
    transition: 0.3s;
} */


.menu-btn {
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    display: none;
}

.brand a {
    margin-left: 20px;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
}

.menu li {
    display: inline-block;
    padding: 0 1.5em;
    margin-right: -10px;
}

.menu li:not(:last-child) {
    border-right: 1px #dbdbdb solid;
}

.menu a {
    color: #dbdbdb;
}

.menu a:hover {
    color: #fff;
}

.navbar-active {
    background: #1a1e21;
}


/*===== Header Body ======*/

.header-body {
    width: 100%;

    background: linear-gradient(50deg, #00000088 30% #ffffff44 100%);
    background-image: url(img/Picsart_23-02-10_17-59-18-551.webp);
    background-blend-mode: lighten;
    filter: contrast(80%);
    filter: brightness(70%);
    padding: 15%;
    background-size: cover;
    min-height: 20em;
}

.header-body .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    height: 100%;
}

.header-body .content {
    display: flex;
    justify-self: start;
    justify-content: flex-start;
    align-items: center;
    filter: brightness(100%);
    filter: contrast(-100%);
    padding: 5em 0 3em 0;
}

.content>div {
    max-width: 500px;
}

.title {
    color: #fff;
    margin-bottom: 0.2em;
}

.title span {
    color: #0d0d0d;
}

.content hr {
    margin: 2em 0;
    border-color: #707070;
}

.content p {
    margin: 0.5em 0;
}

.stats {
    gap: 2em;
}

.stats h1 {
    color: #f58300;
    font-size: 2.5em;
    margin-bottom: 0.4em;
    /* -webkit-text-stroke: .3px yellow; */
}

.stats b {
    color: #fff;
}

.scroll-indicator {
    background: #f8f8f8;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    position: absolute;
    bottom: -3.5em;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll-indicator img {
    width: 80%;
    transform: rotate(-20deg);
    transition: 0.2s;
}

.scroll-indicator:hover img {
    transform: rotate(20deg);
}

.scroll-indicator span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1a1e21;
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

.scroll-indicator::before,
.scroll-indicator::after {
    content: '';
    background: transparent;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: absolute;
    background: transparent;
    top: -1.4em;
    z-index: -1;
}

.scroll-indicator::before {
    left: -4.4em;
    box-shadow: 3em 3em 0 #f8f8f8;
}

.scroll-indicator::after {
    right: -4.4em;
    box-shadow: -3em 3em 0 #f8f8f8;
}


/*===== Features =====*/

.features,
.projects,
.blog {
    background: #f8f8f8;
}

.features .section-title {
    margin-top: 2em;
}

.section-title h1 {
    margin: 0.5em;
    font-size: 2.3em;
    max-width: 500px;
    position: relative;
    padding-left: 0.5em;
}

.section-title h1:before {
    content: '';
    background: #fda828;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 50%;
}

.btn {
    position: static;
    font-size: 0.9em;
    background: #1a1e21;
    padding: 1em 2.5em;
    text-transform: uppercase;
    border-radius: 5px;
    transition: transformX(40px);
    transition-duration: 5ms;
}

.btn:hover {
    background: white;
    color: black;
    border: 2px solid black;
}

.features-grid {
    padding: 0 1.5em;
    margin-top: 3em;
}

.divider {
    background: #ccc;
    width: 1px;
    height: 10em;
}

.item {
    max-width: 17em;
}

.item h3 {
    margin: 1em 0;
}

.item span {
    font-size: 3em;
}


/*===== Swiper =====*/

.swiper {
    width: 100%;
    height: 50em;
    margin: 4em auto 0 auto;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    border-radius: 5px;
    height: 90%;
}

.product-img {
    padding: 1.5em;
    background: #e5e5e5;
    height: 20em;
    text-align: center;
}

.swiper-slide img {
    display: block;
    height: 100%;
    display: inline-block;
    filter: drop-shadow(4px 4px 15px rgba(0, 0, 0, 0.4));
}

.swiper-button-prev,
.swiper-button-next {
    color: #fda828;
}

.details {
    padding: 1em;
    position: relative;
}

.details h2 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.details span {
    font-size: 0.6em;
}

.details h3 {
    margin-bottom: 0.2em;
}

.btn-round {
    position: relative;
    top: -2.2em;
    right: 2.5em;
    background: #1a1e21;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.btn-round span {
    font-size: 2em;
    line-height: 1.3em;
}

.btn-round:hover {
    background: #000;
}

.section-title h1 {
    align-items: center;
}


/* Teams */



/*===== Events =====*/

.timeline {
    margin: 1em auto;
    max-width: 34.15em;
    padding: -100px;
}

.checkpoint {
    max-width: 34em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    position: relative;
}

.checkpoint div {
    border: 2px solid #888;
    border-radius: 1em;
    padding: 1.5em;
    background-color: #f7f7f7;
    box-sizing: content-box;
    box-shadow: 0 0 0.5em black;
}

.checkpoint h5 {
    font-size: 18px;
}

.checkpoint div:hover {
    background-color: #1a1e21;
    transform: translateX(-10px);
}

.checkpoint p {
    line-height: 7px;
    color: #ffd000;
}

.checkpoint .ckp a:hover {
    transform: rotate(50000px);
    text-transform: capitalize;
}

.checkpoint:nth-child(odd) {
    padding-left: 3em;
    border-left: 3px solid black;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    padding-right: 2.9em;
    border-right: 3px solid black;
    transform: translateX(-16.831em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: #fff;
    box-shadow: 0 0 1em #0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

.checkpoint:nth-child(odd) div:hover {
    left: 1em;
    color: #fff;
}

.checkpoint:nth-child(even) div:hover {
    left: 1em;
    color: #fff;
}

.checkpoint img {
    display: block;
    object-fit: fill;
    border-radius: 25px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
    transition: 5s;
}

.checkpoint:hover img {
    display: block;
    margin-bottom: 10px;
    align-items: center;
    border: 2px solid black;
}

.soon {
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0.5em #101010;
}

.soon:hover {
    background-color: #1a1e21;
}

.soon:hover h2 {
    color: white;
}

.soon h2 {
    text-align: center;
}

.soon p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-stretch: extra-expanded;
    font-size: medium;
    margin-left: 40px;
}


/*===== Highlight =====*/

.brands img {
    border-radius: 250px;
    opacity: 1.0;
}

.highlight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    margin-top: 3em;
}

.highlight .image {
    position: relative;
}

.highlight img {
    border-radius: 1em;
}

.img-lg {
    width: 90%;
    height: 100%;
    object-fit: cover;
    max-width: 500px;
}

.img-sm {
    position: absolute;
    top: 50%;
    right: 0;
    box-shadow: -25px 15px 25px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 300px;
}

.description {
    margin-bottom: 2em;
}

.description h2 {
    font-size: 2.2em;
}

.specs {
    display: flex;
    gap: 2em;
    margin: 2em 0;
}

.buttons {
    margin-top: 3em;
    margin-left: 5em;
}

.link {
    color: #000;
    padding: 1em 1.5em;
}

.link:hover {
    color: #3b3e41;
}

.product-highlight hr {
    outline: none;
    margin: 5em 0 3em 0;
    border-top: 1px #ccc solid;
}

.brands {
    margin: 4em 0 2em 0;
    flex-wrap: wrap;
    gap: 2em;
}

.brands img {
    max-width: 12em;
}


/*===== Blog =====*/

.blog-posts {
    gap: 2em;
    margin: 3em 0;
}

.blog-post img {
    border-radius: 8px;
    width: 100%;
}

.blog-post h3 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.views,
.views>div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.views {
    gap: 1.5em;
    color: #ccc;
}

.views>div {
    gap: 0.5em;
    margin: 0.8em 0;
}

.views .material-icons-outlined {
    margin-right: 1em;
}


/*===== Footer =====*/

footer {
    background: #1a1e21;
    color: #fff;
}

.container div {
    /* flex-wrap:nowrap; */
    gap: 0.5em;
    /* left: 0%; */
}



@media only screen and (min-width:1000px) 
{

.contact div {

    
    gap: 0.5em;
    flex-wrap: nowrap;
    margin: 1em;
}

.contact h3 {
    margin-bottom: 1em;
    flex-wrap: nowrap;
    
}

.contact  p {
    width: 200px;
    font-size: 16px;
    flex-basis: auto;
    justify-content: center;
}

}



.input-group {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 0.5em;
    margin: 0.5em 0;
}

.input-group input {
    padding: 0 1em;
}

.input-group button {
    background: #fda828;
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
}

.input-group button:hover {
    background: #df9423;
}

.copyright {
    padding-top: 2em;
    border-top: 1px #464d54 solid;
    text-align: center;
}

.copyright p {
    margin: 0 auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
}


/* Facebook */

.fa-facebook {
    color: #3B5998;
}


/* Twitter */

.fa-linkedin {
    color: #55ACEE;
}

.fa-instagram {
    color: #983b69;
}

.fa:hover {
    opacity: 0.7;
}


/* Responsiveness */
/* Default styles for .card */
.card {
    background: linear-gradient(45deg, #252a3f 0%, #131522 100%);
    width: 20em;
    min-height: 20em;
    border-radius: 7em 5px 5em 5px;
    color: #fff;
    position: relative;
    margin: 4em 4em;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em 1em .5em;
}

.card a {
    color: #0644ff;
    text-decoration: none;
      
}

.card-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5em;
}

.card img {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #1f1f1f;
}

.card-img {
    background: linear-gradient(45deg, #ffa916 0%, #e1fa00 100%);
    border-radius: 50%;
    width: 7.3em;
    height: 7.3em;
    position: absolute;
    right: -1.4em;
    top: 7.6em;
    transform: translate(-50%, -50%);
}

.name {
    position: absolute;
    left: -3.6em;
    top: 5.7em;
    padding: 0.7em 2.5em;
    border-radius: 5px 3em 5px 3em;
    background: #eef0f2;
    color: #131522;
    box-shadow: 15px 5px 25px #101010;
    width: 300px;
}

.card-profile h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.card-profile1 h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.card-body {
    padding: 1em 1.5em;
    margin-bottom: 1em;
}

.card-body p {
    margin-top: 11px;
    letter-spacing: 2px;
    font-size: 1.3em;
    line-height: 30px;
    position: relative;
    z-index: 1;
}

.btn {
    position: absolute;
    bottom: -1.5em;
    right: 4.5em;
    padding: 1.5em;
    background: linear-gradient(45deg, #ffa916 0%, #e1fa00 100%);
    border-radius: 5px 5px 3em 5px;
    box-shadow: 0px 0px 15px #ffcd44;
    transition: 0.4s;
}

.btn:hover {
    transform: translateY(-8px);
}


/* Media Query for screens smaller than 768px  */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Make the card full width on small screens */
        margin: 1em 0; /* Adjust margin as needed */
    }

    /* Adjust other styles as needed for smaller screens */
    .card img {
        width: 70%; /* Adjust image size */
        height: 70%;
       
    }

    .card-img {
         position: absolute;
         margin-right: -50px;

         
       
         
        
    }

    .name {
         margin-left: 60px;
         
    }

    .btn {
        width: 20px;
      
    }
}


@media screen and (min-width: 1000px) {
    .title {
        font-size: 3em;
    }
}

@media screen and (max-width: 1050px) {
    .features-grid {
        flex-direction: column;
    }
    .divider {
        height: 1px;
        width: 100%;
    }
    .item {
        padding: 3em 0;
    }
}

@media screen and (max-width: 1210px) {
    .header-body .content {
        padding: 5em 2em 3em 2em;
    }
}

@media screen and (max-width: 900px) {
    .highlight {
        grid-template-columns: 1fr;
    }
    .highlight .image {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 800px) {
    .header-body .container {
        grid-template-columns: 1fr;
    }
    .header-body .content {
        padding-top: 7em;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.5em;
        overflow-y: hidden;
        transition: 0.4s ease-in-out;
    }
    .menu li {
        margin: 0;
        border-right: none !important;
    }
    .menu a {
        font-size: 1.1em;
        font-weight: bold;
    }
    .menu-open {
        height: 100vh;
    }
    .menu-btn {
        display: block;
    }
    .features .section-title {
        flex-direction: column;
    }
    .features .btn {
        margin-top: 3em;
    }
}

@media screen and (max-width: 750px) {
    .blog-posts {
        flex-direction: column;
        justify-content: flex-start;
    }
    .blog-post {
        margin: 2em 0;
    }
    .section-title h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 550px) {
    .stats,
    .specs {
        flex-direction: column;
        align-items: flex-start;
    }
}


/* Events Responsiveness */

@media screen and (max-width: 1150px) {
    .timeline {
        width: 80vw;
    }
    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }
    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

.nav-item, .logo_n
{
    text-align: center!important;
}


@media screen and (min-width: 992px) {
    .logo_n{

        text-align:right!important;
    }


}

.mynavbar
{
    position:fixed;
    z-index:111111;
    width:100%;
    background:transparent!important;
    
}
.mynavbar-active
{
    background:#1a1e21!important;
}

@media screen and (max-width: 992px) {
    .logo_n{
    
        margin-top:20px;
    }
    .mynavbar
    {
        position:fixed;
        z-index:111111;
        width:100%;
        background:#1a1e21!important;
        
    }
    .mynavbar-active
    {
        background:#1a1e21!important;
    }
    }
.popup{
    background-color: black;
    /* background-image: url(img/aerotshirt\ \(1\).png); */
    background-size: cover;
    opacity: 80%;
    width: 750px;
    height: 500px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 35px;
    z-index: 99999999;
    display: none;


}
.popup button{
    display: block;
    margin: 0 -20px -45px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
/* hovercraft poster
.ps1 {
    float: left;
    width: 50%;
    padding: 5px;
    
}
.post1::after {
    content: "";
    clear: both;
    display: table;
  } */

   